@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/* Variables */
/* Reset */
body {
  color: #656464;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}
a:hover {
  color: #217BF4;
}

h1,
h2,
.h3 {
  color: #0A093D;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: normal;
}

b {
  font-weight: 500;
}

/* Utility */
.text--primary {
  color: #217BF4;
}

.text--dark {
  color: #5D5B70 !important;
}

.bg-primary-light {
  background-color: rgba(33, 123, 244, 0.1);
}

.bg--warning {
  background-color: #ff2e00;
}

.btn {
  border-radius: 14px;
  padding: 1.1rem 2.4rem;
}

.btn-primary,
.btn-outline-primary:hover {
  background-color: #217BF4;
  box-shadow: 0px 10px 22px rgba(33, 123, 244, 0.26);
}

.space {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Header */
nav {
  transition: transform 0.4s;
  border-bottom: 1px solid rgba(33, 123, 244, 0.1);
  z-index: 999;
}
nav .btn {
  padding: 0.85rem 2.45rem;
}
nav .navbar-nav {
  gap: 30px;
}
nav .navbar-nav .nav-link {
  color: #656464;
  font-weight: 500;
}
nav .navbar-nav .nav-link.active {
  font-weight: 600;
}
nav .dropdown-menu {
  padding: 10px;
  border-color: #eee;
  box-shadow: 0px 10px 22px rgba(33, 123, 244, 0.1);
}
nav .dropdown-menu .dropdown-item {
  border-radius: 14px;
}
nav .dropdown-menu .dropdown-item:not(last-child) {
  margin-bottom: 5px;
}
nav .dropdown .dropdown-menu:before {
  font-family: FontAwesome;
  content: "\f0d8";
  position: absolute;
  top: -20px;
  left: 28px;
  right: auto;
  font-size: 22px;
  color: #eee;
  transition: top 0.35s ease;
}

.nav-search {
  position: relative;
}
.nav-search i {
  color: #2B2B39;
  font-size: 14px;
  top: 10px;
  left: 10px;
  z-index: 88;
  position: absolute;
}
.nav-search .form-control {
  font-size: 14px;
  padding-left: 40px;
  padding-bottom: 20px;
  max-width: 150px;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #E5E5E5;
}
.nav-search .form-control:focus {
  border-color: #217BF4;
  box-shadow: unset;
}

.dropdown-toggle:after {
  content: "\f078";
  font-size: 14px;
  border: 0;
  font-family: FontAwesome;
  transition: 0.2s;
  vertical-align: inherit;
  margin-left: 0.5rem;
}
.dropdown-toggle.show:after {
  transform: rotate(180deg);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #217BF4;
}

.subheading {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.icon-star {
  background: url(../img/icon-shape/star.svg) no-repeat;
}

.icon-trophy {
  background: url(../img/icon-shape/trophy.svg) no-repeat;
}

.list-icon {
  list-style-image: url(../img/icon-shape/circle.svg);
  line-height: 30px;
  font-weight: 500;
}
.list-icon li {
  padding-left: 6px;
}

/* Hero */
.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(315deg, #D4E7FE 0%, #FFFFFF 100%);
}
.hero h1 {
  font-size: 3.5rem;
}

/* Card */
.card {
  border: 1px solid transparent;
  border-radius: 14px;
  background: linear-gradient(to bottom, white, white), linear-gradient(to bottom, rgba(185, 185, 185, 0.1), rgba(94, 94, 94, 0.2));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  transition: 0.2s all;
}
.card:hover {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
  background: linear-gradient(to bottom, white, white), linear-gradient(to bottom, rgba(185, 185, 185, 0.1), rgba(94, 94, 94, 0.1));
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.card:hover a {
  color: #217BF4;
}
.card p {
  color: #8C8C8C;
}
.card a {
  color: #2B2B39;
}

/* Avatar Group */
.avatar-group .avatar {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.avatar-group .avatar:not(:first-child) {
  margin-left: -10px;
}
.avatar-group .avatar:hover {
  z-index: 3;
}
.avatar-group .avatar img {
  height: 28px;
  width: 28px;
  border: 2px solid #fff;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  box-shadow: -5px 4px 14px rgba(151, 151, 151, 0.28);
}

/* Nav Pills */
.nav-pills {
  background-color: rgba(33, 123, 244, 0.06);
  border-radius: 14px;
}
.nav-pills .nav-link {
  color: #0A093D;
  font-weight: 500;
  border-radius: 14px;
  padding: 1.1rem 2.4rem;
}

.tab-content .tab-pane.fade {
  transition: all 0.2s !important;
  transform: translateY(1rem) !important;
}
.tab-content .tab-pane.fade.show {
  transform: translateY(0rem) !important;
}

/* Team Card */
.team-card {
  border-radius: 14px;
  padding: 20px;
  border: 2px solid rgba(243, 243, 243, 0.5);
  transition: 0.2s;
  margin-bottom: 20px;
}
.team-card:hover {
  border: 2px solid transparent;
  box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
}
.team-card p {
  margin-bottom: 0;
}
.team-card p.h5 {
  margin-top: 1.5rem;
}

/* Team Avatar */
.team-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 170px;
  padding: 15px;
  margin: auto;
  position: relative;
  background: url(../img/icon-shape/ellipse.svg) no-repeat;
  background-size: contain;
}
.team-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
  background-color: #E2EEFF;
}
.team-avatar.active:after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  bottom: -2px;
  background: url(../img/icon-shape/check.svg) no-repeat;
}

/* Social Icons */
.social-icons {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-left: 0;
  margin-bottom: 0;
}
.social-icons li a {
  color: #2B2B39;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.social-icons li a:hover {
  background-color: #FFAF2E;
}

/* Footer */
footer .nav {
  font-size: 20px;
}
footer .nav .nav-link {
  color: #fff;
}
footer .nav .nav-link:hover {
  color: #FFAF2E;
}

/* Mobile Menu */
.navbar-toggler {
  border: 0;
}
.navbar-toggler:hover, .navbar-toggler:focus {
  box-shadow: 0px 10px 22px rgba(33, 123, 244, 0.26);
}

#mobileNav .social-icons {
  margin-top: 15px;
  justify-content: flex-start !important;
}
#mobileNav .navbar-nav .dropdown-menu {
  position: static !important;
  transform: inherit !important;
  border: 0;
  margin: 5px 20px 5px !important;
  background-color: #f2f2f2;
}
#mobileNav .navbar-nav .nav-item {
  margin-bottom: 5px;
}
#mobileNav .navbar-nav .nav-link {
  padding: 10px 20px;
  border-radius: 14px;
}
#mobileNav .navbar-nav .nav-link.active {
  color: #2B2B39;
  font-weight: 500;
  background-color: #eee;
}
#mobileNav .navbar-nav .dropdown-toggle.show {
  color: #2B2B39;
  font-weight: 500;
  background-color: #eee;
}

/* Media */
@media (max-width: 576px) {
  h2,
.h3 {
    font-size: calc(1.5rem + 0.9vw);
  }
  .btn {
    padding: 0.7rem 2rem;
  }
  .space {
    padding: 60px 20px;
  }
  nav .btn {
    padding: 0.6rem 1.8rem;
  }
  .nav-pills .nav-link {
    padding: 0.5rem 1rem;
  }
  .hero > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero h1 {
    font-size: calc(1.8rem + 1.5vw);
  }
  .team-card {
    padding: 10px;
  }
  .team-card p {
    font-size: 0.8rem;
  }
  .team-card p.h5 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .team-avatar {
    width: 100px;
    height: 100px;
  }
  footer .nav {
    font-size: 16px;
    display: grid;
    justify-content: flex-start !important;
  }
}/*# sourceMappingURL=style.css.map */